<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Database 3D Model</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/bootstrap-4.4.1.css') }}">
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/homepage">Database 3D Model</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> <a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a> </li>
            <li class="nav-item"> <a class="nav-link" href="/show">Showdata</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/index">Adddata</a> </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div  class="container">
        <div class="row">
          <div class="col">
            <h2> ความเสียหายของรถยนต์ </h2>
            <h3> {{outs[0:41]}} </h3>
            <h3> {{outs[42:84]}} </h3>
            <h3> {{outs[85:127]}} </h3>
            <h3> {{outs[128:]}} </h3>
          </div>
          <div class="col">
            <div class="text-center col-12">
          <h2> ประกันภัยชั้น1 </h2>
            </div>

          <p> หมวดการคุ้มครองความรับผิดต่อบุคคลภายนอก </p>
          <p> 1.1 ความเสียหายต่อชีวิต ร่างกาย หรืออนามัย บริษัทประกันวินาศภัยจะรับผิดชดใช้ค่าสินไหมทดแทนเพื่อความเสียหายต่อชีวิต ร่างกาย หรืออนามัย ของบุคคลภายนอก 
            เฉพาะส่วนเกินวงเงินสูงสุดตามกรมธรรม์ประกันภัยคุ้มครองผู้ประสบภัยจากรถ ตามความเสียหายที่แท้จริงที่ผู้เอาประกันภัยจะต้องรับผิดชอบตามกฎหมายต่อบุคคลภายนอกไม่เกินจำนวนเงินเอาประกันภัยต่อคน 
            (ต้องมีจำนวนเงินเอาประกันภัยไม่น้อยกว่า 500,000 บาทต่อคน) ที่ระบุไว้ในตารางกรมธรรม์ประกันภัย และไม่เกินจำนวนเงินเอาประกันภัยต่อครั้งที่ระบุไว้ในตารางกรมธรรม์ประกันภัย
            ทั้งนี้ บุคคลภายนอกที่ได้รับความคุ้มครองจะไม่รวมถึงผู้ขับขี่ที่เป็นฝ่ายที่จะต้องรับผิดตามกฎหมาย ตลอดจนลูกจ้างในทางการที่จ้าง คู่สมรส บิดา มารดา บุตรของผู้ขับขี่นั้น</p>
          <p> 1.2 ความเสียหายต่อทรัพย์สิน บริษัทจะรับผิดชดใช้ค่าสินไหมทดแทนเพื่อความเสียหายต่อทรัพย์สินของบุคคลภายนอก ซึ่งผู้เอาประกันภัยจะต้องรับผิดชอบตามกฎหมาย และความรับผิดของบริษัทจะมีไม่เกินจำนวนเงินเอาประกันภัยที่ระบุไว้ในตารางกรมธรรม์ประกันภัย</p>
          <p> หมวดการคุ้มครองรถยนต์สูญหายไฟไหม้ </p>
          <p> 2.1 กรณีรถยนต์สูญหาย บริษัทประกันวินาศภัยจะรับผิดชดใช้ค่าสินไหมทดแทน เมื่อรถยนต์หรือส่วนหนึ่งส่วนใดของรถยนต์ รวมทั้งอุปกรณ์ เครื่องตกแต่ง 
            หรือสิ่งที่ติดประจำอยู่กับตัวรถยนต์ตามมาตรฐานที่ติดตั้งมากับรถยนต์โดยโรงงานประกอบรถยนต์หรือศูนย์จำหน่ายรถยนต์ และให้รวมถึงอุปกรณ์เครื่องตกแต่งที่ได้ทำเพิ่มขึ้น 
            และผู้เอาประกันภัยได้แจ้งให้บริษัททราบด้วยแล้ว สูญหายไปอันเกิดจากการกระทำความผิดเฉพาะฐานลักทรัพย์ ชิงทรัพย์ ปล้นทรัพย์ ยักยอกทรัพย์ หรือเกิดความเสียหายต่อรถยนต์อันเกิดจากการกระทำความผิด 
            หรือการพยายามกระทำความผิดเช่นว่านั้น แต่ไม่รวมการสูญหายจากการกระทำความผิดฐานฉ้อโกง</p>
          <P> 2.2 กรณีรถยนต์ไฟไหม้ บริษัทประกันวินาศภัยจะชดใช้ค่าสินไหมทดแทน เมื่อรถยนต์เกิดความเสียหายจากไฟไหม้ ไม่ว่าจะเป็นการไหม้โดยตัวของมันเอง หรือเป็นการไหม้ที่เป็นผลสืบเนื่องจากสาเหตุใด ๆ ก็ตาม </P>
          <p> หมวดการคุ้มครองความเสียหายต่อรถยนต์</p>
          <p> บริษัทจะชดใช้ค่าสินไหมทดแทนเพื่อความเสียหายที่เกิดขึ้นระหว่างระยะเวลาประกันภัย ต่อรถยนต์รวมทั้งอุปกรณ์ เครื่องตกแต่ง 
            หรือสิ่งที่ติดประจำอยู่กับตัวรถยนต์มาตรฐานที่ติดตั้งมากับรถยนต์โดยโรงงานประกอบรถยนต์หรือศูนย์จำหน่ายรถยนต์ และให้รวมถึงอุปกรณ์เครื่องตกแต่งที่ได้ทำเพิ่มขึ้น 
            และผู้เอาประกันภัยได้แจ้งให้บริษัททราบด้วยแล้ว แต่ไม่รวมถึงความเสียหายที่เกิดจากไฟไหม้ เช่น กันชนหน้ารถแตกหักจากการขับรถชนต้นไม้ ประตูรถได้รับความเสียหายจากการถูกเฉี่ยวชนกิ่งไม้หล่นใส่หลังคารถ 
            เป็นต้น</p>
        </div>
      </div>
      </div>
   </body>
</html>